*{
    /* box-sizing: border-box; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.carousel-caption .btn-lg{
    content: "";
    background-color:#fff;
    color: black;
    opacity: 0.9;
    border-radius: 0px!important;
}
.carousel-caption .btn-lg:hover{
    background-color:#fff;
    font-weight: bold;
    color: black;
    opacity: 1.0;
}
.carousel-control-prev-icon{
    color:black!important;

}
.logo{
    width: 120px;
    height: 40;
    display: inline;
    vertical-align: middle;
    cursor: pointer;
}
.nav-design {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}
.nav-item{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    /* border-radius:50px; */
    /* border:2px solid red; */
    border:hidden;
}
.carousel-caption .btn-lg{
    content: "";
    text-transform: uppercase;
    margin-bottom: 10px;
    opacity: 0.9;
    border-radius: 0px!important;
  }
  .carousel-caption .btn-lg:hover{
    background-color:#fff;
    font-weight: bold;
    color: black;
    opacity: 1.0;
  }
  .carousel-control-prev-icon{
    color:black!important;
  
  }
  .logo{
    width: 120px;
    height: 40;
    display: inline;
    vertical-align: middle;
    cursor: pointer;
  }
  .nav-a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 20px;
    border: none;
    outline: none;
  }
  .nava li{
    letter-spacing:2;
    margin-left: 10px;
  }
  .nav-a:hover{
    color: #fff!important;
    background-color: rgb(250, 88, 88);
    border-radius: 30px;
    outline: none;
    color: #fff!important;
    text-decoration: none;
  }
.navbar-toggler{
    outline: none !important;
    border: none !important;
    /* color: palevioletred!important; */
}
.navbar-toggler:hover{
    color:rgb(250, 88, 88)!important;
}

.description{
    text-align: center;
    flex-direction: column;

}
.type{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}
.shop-now{
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

}
.grid2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border-right: 1px solid black;
}
@media screen and (max-width: 768px) {
    .grid2{
       border: none;
    }
}
.grid21{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.grid-icon{
    width: 70px;
    height: 70px;
    cursor: pointer;
    justify-content: center;
}
.description-text{
    text-align: center;
}

.co ul li{
    list-style: none;
    text-transform: uppercase;

}
.footer-logo{
    width: 100px;
    height: 50px;
} 

 .bank-icon{
    cursor: pointer;
    width: 40px;
    height: 40px;
    
}
.social-icon{
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.subscribe{
    font-size:20px;
    /* text-align: center; */
    font-weight: bold;
}